/* General */
:root {
  --white: #FFFFFF;
  --black: #000000;
  --grey: #585858;

  --primary: #2e06e2;
  --secondary: #06e22e;
  --tertiary: #e22e06;
  --quaternary: #e22e06;

  --link: #ff8d02;

  --text-menu-up: #797979;
  --text-menu-up: rgb(121, 121, 121);
  --text-menu-over: #2e06e2;

  --text-titles: #2e06e2;
  --text-content: #2e06e2;

  --borders: #2e06e2;

  --btn-up: #2e06e2;
  --btn-over: #2e06e2;

  --background-nav: #FFFFFF;
  --background-color: #FFFFFF;
  --background-fade: rgba(0, 0, 0, 0.5);
  --shadow-1: rgb(1px, 1px, 10px 2px);

  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--background-color);
}
/* scroll off */
.scroll-off {
  overflow: hidden;
}
/* inactive */
.inactive {
  display: none;
}
/* -----------------------------navbar-------------------------- */
/* ############################################################# */
nav{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid var(--borders);
  background-color: var(--background-nav);
}
/* ------------------- icon menu mobile navbar ----------------- */
.menu-icon-mobil {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 3px;
  transition: transform 700ms ease-in-out;
  transition-delay: 100ms;
  rotate: 90deg;
  color: var(--text-menu-up);
}
.menu-ico-mobil:hover {
  color: var(--text-menu-over);
}
.menu-ico-mobil-open {
  transform: rotate(-90deg);
  transition: transform 700ms ease-in-out;
  transition-delay: 100ms;
  color: var(--text-menu-over);
}
/* -------------------------- navbar left ---------------------- */
.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  height: 60px;
}
.logo {
  width: 100px;
}
/* ---------------------------nav menu-------------------------- */
.nav-menu {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  gap: 10px;
  margin: 0px 10px;
}
/* -------------------------title mobile------------------------ */
.mobile-menu-title {
  display: none;
}
/* --------------------------menu options----------------------- */
/* --------------------------menu share----------------------- */
.menu-products,
.menu-order-acount,
.menu-email-signout {
  display: flex;
  padding: 0;
  list-style: none;
}
.menu-products {
  flex-direction: row;
}
.current ul {
  flex-direction: column;
}
.current ul li a,
.menu-products li a {
  text-decoration: none;
  color: var(--text-menu-up);
  font-weight: 700;
  font-size: var(--md);
  width: 188px;
  padding: 5px;
  border: 1px solid var(--background-color);
  border-radius: 10px;
}
.menu-products li a:hover {
  color: var(--text-menu-over);
  border: 1px solid var(--btn-over);
  border-radius: 10px;
}
.menu-products li {
  margin-bottom: 0px;
}
.current ul li {
  margin-bottom: 10px;
}
.menu-products {
  border: 0px;
}
.current {
  position: fixed;
  top: -110px;
  right: 70px;
  transition: transform 600ms ease-in-out;
  transition-delay: 100ms;
  padding: 0px 20px;
  border: 1px solid var(--btn-over);
  border-radius: 0px 0px 10px 10px;
  background-color: var(--background-color);
  z-index: -1;
}
.desktop-menu-active {
  transform: translate(0px, 170px);
  transition: transform 600ms ease-in-out;
  transition-delay: 100ms;
}
/* ------------------------ navbar right ----------------------- */
.icon-cart-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px;
}
.icon-cart-nav li{
  list-style: none;
}
/* --------------------icon menu desktop navbar----------------- */
.menu-text-desktop {
  display: block;
  color: var(--text-menu-up);
  border: 1px solid var(--background-nav);
  padding: 8px;
  border-radius: 8px;
  font-weight: 700;
}
.menu-text-desktop:hover {
  border: 1px solid var(--text-menu-over);
  color: var(--text-menu-over);
  cursor: pointer;
}
.navbar-cart-container img{
  width: 25px;
  height: 25px;
  padding-right: 20px;
  cursor: pointer;
  filter: invert(49%) sepia(5%) saturate(14%) hue-rotate(315deg) brightness(95%) contrast(90%);
}
.navbar-cart-container img:hover{
  filter: invert(16%) sepia(98%) saturate(6554%) hue-rotate(254deg) brightness(80%) contrast(128%);
}
/* --------------------------div counter------------------------ */
.navbar-cart-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 25px;
  background-color: var(--background-color);
  color: var(--btn-over);
  border: 1px solid var(--borders);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
}
/* ------------------------checkout window---------------------- */
/* ############################################################# */

 .checkout {
  position: fixed;
  overflow-y: scroll;
  width: 360px;
  inset: 0;
  top: 60px;
  left: 100%;
  transition: transform 600ms ease-out;
  transition-delay: 100ms;
  background-color: var(--background-color);
  padding: 0 15px 24px 15px;
  box-sizing: border-box;
  border: 1px solid var(--borders);
  z-index: 6;
}
.check-out-active {
  transform: translate(-100%, 0px);
  transition: transform 600ms ease-out;
  transition-delay: 100ms;
}
/* ------------------------checkout title----------------------- */
.title-container {
  display: flex;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.title {
  font-size: var(--lg);
  font-weight: 700;
  color: var(--text-titles);
}
/* -------------------------products added---------------------- */
/* ---------------------code injected from js ------------------ */
.shopping-cart {
  display: grid;
  /* grid-template-columns: auto 1fr auto auto; */
  grid-template-columns: 70px 145px 61px 32px;

  gap: 5px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  object-fit:contain;
}
.shopping-cart > p:nth-child(2) {
  width: 150px;
  color: var(--black);
  font-weight: 700;
  text-align: start;
}
.price-container {
  display: flex;
  gap: 5px;
  align-items: center;
}
.price-container p:nth-child(1),
.price-container p:nth-child(2) {
  color: var(--text-titles);
  font-size: var(--lg);
  font-weight: bold;
  text-align: start;
}
.item-delete,
.product-detail-close {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--borders);
  font-size: var(--lg);
  font-weight: bold;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
  border: 1px solid var(--borders);
}
.item-delete:hover,
.close-detail-item:hover {
  background-color: var(--btn-over);
  color: var(--background-color);
}
/* --------------------------total amount----------------------- */
.order {
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid var(--text-content);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order-display-on {
  display: grid;
}
.order p span:nth-child(1) {
  font-size: var(--lg);
  font-weight: 700;
  color: var(--black);
}
.order p:nth-child(2) {
  font-size: var(--lg);
  font-weight: 700;
  text-align: end;
  color: var(--text-content);
}
/* ----------------------banner empty message------------------- */
.cart-empty {
  background-color: var(--background-color);
  border: 1px solid #ff8d02;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.cart-empty p {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #ff8d02;
}
.primary-button {
  background-color: var(--background-color);
  border-radius: 8px;
  border: 1px solid var(--btn-up);
  color: var(--btn-up);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.primary-button:hover{
  color: var(--white);
  background-color: var(--btn-over);
}

/* -----------------------------banner-------------------------- */
/* ############################################################# */

.banner-top{
  position: fixed;
  top: 61px;
  left: 0;
  right: 0;
  height: 100vh;
  justify-content: center;
  z-index: 8;
}
.banner-container{
  width: 250px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-menu-up);
  margin: 90px auto;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(255, 251, 251);
}
.banner p {
  font-size: var(--lg);
  font-weight: 700;
  color: var(--link);
  margin: 0;
}

/* -------------------------product details--------------------- */
/* ############################################################# */

.product-detail-item {
  margin: 0px auto;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow-y: scroll;
  inset: 0;
  top: 60px;
  width: 338px;
  scale: .005;
  transition: transform 400ms ease-out;
  transition-delay: 100ms;
  padding: 10px;
  border: 1px solid var(--borders);
  background-color: var(--background-color);
  z-index: 6;

}
.product-detail-item-max{
  transform: scale(200);
  transition: transform 400ms ease-out;
  transition-delay: 100ms;
}
.product-detail-close {
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 1;
}
.img-src {
  width: 316px;
  height: 316px;
  padding: 10px;
  object-fit: contain;
  border-radius: 20px;
  border: 1px solid var(--black);
  background-color: var(--white);
}
.product-detail-info {
  margin: 12px 12px 0px 12px;
}
.item-price {
  display: flex;
  align-items: center;
}
.item-price p:nth-child(1),
.item-price p:nth-child(2){
  font-size: var(--lg);
  font-weight: 700;
  color: var(--black);
  padding-right: 5px;
}
.name-Title {
  font-weight: 700;
  font-size: var(--lg);
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--btn-over);
}
.product-detail-info p:nth-child(3) {
  font-weight: 700;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 36px;
  color: var(--black);
}
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ----------------------dark fade background------------------- */
/* ############################################################# */

.dark{
  position: fixed;
  top: 61px;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: var(--background-fade);
  opacity: 0%;
  transition: 700ms;
  z-index: 5;
}
.background-dark{
  transition: 700ms;
  opacity: 100%;
}


/* -----------------------main page products ------------------- */
/* ############################################################# */

.main-container{
  width: 100%;
  margin-top: 87px;
  z-index: 1;
  overflow: hidden;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 20px;
  place-content: center;
  margin: 20px 10px;
}
/* ---------------------code injected from js ------------------ */
.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border-radius: 20px;
  width: 220px;
  padding: 10px;
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.3);
}
.product-card > img {
  align-self: center;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  width: 193px;
  height: 193px;
  object-fit: contain;
  background-color: var(--background-color);
  border-radius: 20px;
  transition: .2s;
  border: 1px solid var(--text-menu-up);
}
.product-card >img:hover {
  transform: scale(1.05);
  rotate: -2deg;
  animation: color-change .3s ease-in-out infinite alternate .2s;
  cursor: pointer;
}
@keyframes color-change {
    from {
      transform: scale(1.05);
      rotate: -2deg;
    }
    to {
      transform: scale(1.05);
      rotate: 2deg;
    }
}
.product-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  padding: 5px;
}
.product-info-div p,
.product-description-div p,
.product-definition p{
  margin: 0;
}
.product-info-div {
  display: flex;
  gap: 5px;
}
.product-info-div p {
  font-weight: bold;
  font-size: var(--lg);
  color: var(--black);
}

.product-description-div p{
  font-weight: bold;
  font-size: var(--md);
  color: var(--text-titles);
}
.product-definition {
  display: none;
  font-size: var(--md);
  font-weight: bold;
  overflow: hidden;
}
.product-info figure {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 30%;
  padding: 5px;
  margin: 0;
}
#cart-img {
  width: 38px;
  height: 38px;
  object-fit:cover;
  filter: invert(49%) sepia(5%) saturate(14%) hue-rotate(315deg) brightness(95%) contrast(90%);
}
#cart-img:hover {
  cursor: pointer;
  filter: invert(16%) sepia(98%) saturate(6554%) hue-rotate(254deg) brightness(80%) contrast(128%);
}

/* ############################################################# */

@media (max-width: 640px) {
   .menu-icon-mobil {
    display: block;
  }
  .menu-text-desktop {
    display: none;
  }
  .nav-menu {
    flex-direction: column;
    align-items: start;
    gap: 0px;
    margin: 0;
    position: fixed;
    overflow-y: scroll;
    width: 200px;
    inset: 0;
    top: 60px;
    left: -252px;
    transition: transform 600ms ease-out;
    transition-delay: 100ms;
    padding: 0px 24px 24px 24px;
    border: 1px solid var(--borders);
  }
  .mobile-menu-active {
    transform: translate(252px, 0px);
    transition: transform 600ms ease-out;
    transition-delay: 100ms;
  }
  .mobile-menu-title {
    display: block;
    color: var(--text-menu-over);
    font-weight: 700;
  }

  .menu-products,
  .menu-order-acount,
  .menu-email-signout{
    flex-direction: column;
    margin: 20px 0px 0px 0px;
  }
  .menu-products li a,
  .menu-order-acount li a,
  .menu-email-signout li a {
    display: inline-block;
  }
  .menu-products li,
  .menu-order-acount li,
  .menu-email-signout li {
    margin-bottom: 10px;
  }

  .menu-order-acount li a:hover{
    color: var(--link);
    border: 1px solid var(--link);
    border-radius: 10px;
  }
  .menu-email-signout li a:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 10px;
  }
  .menu-email-signout li a {
    font-size: var(--sm);
  }
  .menu-products {
    border-bottom: 1px solid var(--borders);
  }
  .menu-order-acount {
    border-bottom: 1px solid var(--link);
  }
  .menu-email-signout {
    border-bottom: 1px solid var(--secondary);
  }
  .current {
    position: static;
    top: 0;
    right: 0;
    padding: 0;
    border: none;
    border-radius: 0;
  }

  .navbar-desktop {
    display: none;
  }

  .product-detail {
    width: 360px;
  }
  .cards-container {
    grid-template-columns: repeat(auto-fill, 160px);
  }
  .product-card {
    width: 140px;
  }
  .product-card img {
    width: 130px;
    height: 130px;
  }
  .product-detail-item {
    top: 60px;
  }
  .product-info {
    flex-direction: column;
  }

  .product-info figure {
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 641px) {
  .menu-icon-mobil {
    display: none;
  }
  .current {
    text-align: end;
  }
  .menu-order-acount {
  border-bottom: 1px solid var(--borders);
  }
  .menu-order-acount li a {
    color: var(--link);
  }
  .menu-email-signout li a {
    color: var(--secondary);
  }
  .menu-order-acount li a:hover {
    color: var(--link);
  }
  .menu-email-signout li a:hover {
    color: var(--secondary);
  }
}

